/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/overpass-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/overpass-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  color: var(--color-grey500);
}

:root {
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 100%, 100%);
  --color-grey500: hsl(217, 12%, 63%);
  --color-grey900: hsl(213, 19%, 18%);
  --color-grey950: hsl(216, 12%, 8%);
}
/* #1f2630 #142025 tausta: #141519 */
body {
  background: #141519;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  max-width: 100vw;
}
main {
  background: linear-gradient(
    50deg,
    rgba(31, 38, 48, 1) 0%,
    rgba(20, 32, 37, 1) 100%
  );
  width: 90%;
  padding: 20px;
  border-radius: 12px;
  max-width: 380px;
}
.hidden-state {
  display: none;
}
.show-state {
  display: flex;
}

#rating-state,
#thank-you-state {
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
}
/*----rating-state----*/
#rating-state img {
  padding: 13px;
  background: var(--color-grey900);
  width: 3rem;
  border-radius: 50%;
}
#rating-state h1 {
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.75rem;
}
#rating-state p {
  line-height: 150%;
}
#ratings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
form {
  width: 100%;
}
#ratings input {
  opacity: 0;
  position: fixed;
  width: 0;
}
#ratings input:checked + label {
  background: var(--color-white);
  color: var(--color-grey950);
}
#ratings label {
  display: block;
  position: relative;
  width: 3rem;
  height: 0;
  padding-bottom: 3rem;
  background: var(--color-grey900);
  line-height: 3;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
}
#ratings label:hover {
  background: var(--color-orange);
  color: var(--color-grey950);
}

#rating-state button {
  margin-top: 20px;
  width: 100%;
  background: var(--color-orange);
  color: var(--color-grey950);
  border-radius: 18px;
  border: none;
  font-weight: 700;
  height: 40px;
  letter-spacing: 1.5px;
}
#rating-state button:hover {
  background: var(--color-white);
}
/*----thank-you-state----*/
#thank-you-state {
  align-items: center;
  padding: 15px;
}
#result {
  background: var(--color-grey900);
  color: var(--color-orange);
  padding: 5px 15px;
  border-radius: 20px;
}
#result span {
  color: var(--color-orange);
}
#thank-you-state h2 {
  color: var(--color-white);
  margin-block: 0;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 5px;
}
#thank-you-state p {
  text-align: center;
  line-height: 1.5;
}
/*----footer----*/
footer {
  width: 55%;
  padding-top: 30px;
}
footer a,
footer p {
  font-size: 0.5rem;
  text-align: center;
}
